.sapUiBlockLayoutSizeM:not(.sapUiBlockLayoutKeepFontSize) .smallPaddingCustom .sapUiBlockCellContent, .sapUiBlockLayoutSizeL:not(.sapUiBlockLayoutKeepFontSize) .smallPaddingCustom .sapUiBlockCellContent, .sapUiBlockLayoutSizeXL:not(.sapUiBlockLayoutKeepFontSize) .smallPaddingCustom .sapUiBlockCellContent, .sapUiBlockLayoutSizeS:not(.sapUiBlockLayoutKeepFontSize) .smallPaddingCustom .sapUiBlockCellContent {
    padding: 7.5px
}

.customTopBorder .sapUiBlockCellContent {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 1px white;
}

.customButtomBorder .sapUiBlockCellContent {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 1px white;
}

.sapUiBlockLayoutCell {
    margin-top: -5px !important;
}

.customTabletButton {
    transform: scale(1.4);
    transform-origin: 0 0;
}

.customTextTablet {
    font-size: 3.5rem !important;
}

/* .sapUiBlockCellContent::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0 1px rgb(255, 255, 255);
    z-index: 100;
} */

.tablet-transform {
    width: 143%;
    height: 143%;
    transform: scale(0.7);
    transform-origin: 0 0;
}

/******************************************/

/* App title style                        */

/******************************************/

.customCellHeader>div>h2 {
    font-weight: bold;
    background-color: #D0D6DC;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sapMBarMiddle {
    text-align: left;
}

.sapMBarRight {
    padding-right: 1rem;
}

.headerUser {
    padding-right: 0.5rem;
}

/******************************************/

/* BlockLayout Background      			  */

/******************************************/

.customContentLayout {
    background-color: #717D86;
}

.customHeader .sapMIBar-CTX .sapMTitle {
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 0ex;
}

/* StandardInputField Style  when focused*/

.sapMInputBaseInner:focus {
    background-color: #C8E6FA;
    /*#99CCFF -> soft blue; */
}

.customInput .sapMInputBaseInner {
    font-size: 2em !important;
}

/******************************************/

/* Button style for Tablet/Phone size     */

/******************************************/

.sapUiSizeCozy .customButton .sapMBtnContent {
    font-size: 1.3em;
}

.sapUiSizeCozy .customButton .sapMBtnInner {
    background-color: #0e9ce8;
    color: white;
}

.sapUiSizeCozy .customFooterButton .sapMBtnContent {
    font-size: 1.3em;
}

/******************************************/

/* Button style for Desktop size          */

/******************************************/

.sapUiSizeCompact .customButton .sapMBtnContent {
    height: 50px !important;
    font-size: 1.7em;
    padding-top: 0.5em;
}

.sapUiSizeCompact .customButton .sapMBtnInner {
    height: 50px !important;
    background-color: #0e9ce8;
    color: white;
}

.sapUiSizeCompact .customFooterButton .sapMBtnContent {
    font-size: 1.7em;
}

table div>span.customTableHeaderSmall {
    font-size: 1.2em!important;
}

table div>span.customTableRowSmall {
    font-size: 1em!important;
}

/******************************************/

/* Text styles                            */

/******************************************/

.customTextSmallerBold {
    font-size: 1.3em;
    padding-bottom: 10px;
    font-weight: bold;
}

.customTextSmaller {
    font-size: 1.3em;
    padding-bottom: 10px;
}

.customTextSmall {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.customTextMedium {
    font-size: 1.7em;
    padding-bottom: 10px;
}

.customTextLarge {
    font-size: 1.9em;
    font-weight: bold;
    padding-bottom: 6px;
}

/******************************************/

/* Blue arrow button style                */

/******************************************/

.actionButton .sapMBtnInner {
    font-size: 2.5rem;
    border-color: transparent;
    background-color: transparent;
    color: white;
    vertical-align: middle;
    text-align: center;
    height: 200px;
    padding-top: 75px;
}

.actionButton.sapMBtn:hover>.sapMBtnHoverable {
    background-color: transparent;
    color: white;
    font-size: 2.5rem;
    border-color: transparent;
}

.actionButton.sapMBtn:hover>.sapMBtnHoverable .sapMBtnContent {
    background-color: transparent;
    color: white;
    font-size: 2.5rem;
    border-color: transparent;
}

/******************************************/

/* Messages								  */

/******************************************/

/* Style definition for the message text */

.sapMMsgStripMessage .sapMText {
    font-size: 1.5rem;
}

/******************************************/

/* Arrow action button  				  */

/******************************************/

/* The blue arrow action button */

/* Stack image  				 */

.stack {
    background: url(../images/Stack4.png) no-repeat;
    background-size: 100% 100%;
    margin-right: 20px;
}

.itemRelevant {
    background: url(../images/Item_relevant.png) no-repeat;
    background-size: 100% 100%;
    margin-right: 20px;
    margin-left: 20px;
}

.itemNotRelevant {
    background: url(../images/Item_notrelevant.png) no-repeat;
    background-size: 100% 100%;
}

.customHeightRowHigher>div {
    height: 55%;
}

.customHeightRowLower>div {
    height: 40%;
}

.arrowButton {
    width: 80%;
    height: 65px;
    position: relative;
    color: white;
    font-size: 3.5rem;
    background-color: #0e9ce8;
    border: 1px solid rgba(52, 184, 220, 1);
    border-radius: 5px 0 0px 5px;
}

.arrowButton:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: -1px;
    width: 0;
    height: 0;
    border-left: 20px solid #0e9ce8;
    border-top: 32.5px solid transparent;
    border-bottom: 32.5px solid transparent;
}

.arrowButton .sapMBtnContent {
    line-height: normal !important;
}

.arrowButton:focus {
    outline-width: thin;
    outline-style: dotted;
    outline-offset: -2px;
    outline-color: black;
}

.arrowButton:active {
    outline-color: white;
    outline-width: thin;
    outline-style: dotted;
    outline-offset: -2px;
}

.redText {
    color: red
}

.customImage {
    position: absolute;
    left: -16rem;
    top: 0px;
    z-index: 1;
}

.customImageOverlay {
    position: absolute;
    left: -3rem;
    top: 3rem;
    z-index: 2;
}

.customListBorder {
    border: solid 0.5px gray;
}