<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.sap.adt.debugger.launchConfigurationType">
<mapAttribute key="SESSION_INFO">
<mapEntry key="APPSERVER" value="vi20pas.de.festo.net"/>
<mapEntry key="CAN_ADT_CROSS_SERVER" value="true"/>
<mapEntry key="CLIENT" value="001"/>
<mapEntry key="DEBUGGEE_ID" value="005056A172051EEBA097796F9A8A274E"/>
<mapEntry key="DEBUGGEE_SESSION_ID" value=""/>
<mapEntry key="DEBUGGEE_USER" value="DE6U8353"/>
<mapEntry key="DUMP_ID" value="ABAP Runtime Error"/>
<mapEntry key="DUMP_TIME" value="00:00:00"/>
<mapEntry key="DUMP_URI" value="DUMP_URI"/>
<mapEntry key="IDE_ID" value=""/>
<mapEntry key="INCL_CURR" value="ZSWL_CL_EWM_AUTOSTORE_DPC_EXT=CM002"/>
<mapEntry key="INSTANCE_NAME" value="vi20pas_I20_01"/>
<mapEntry key="IS_POST_MORTEM" value="false"/>
<mapEntry key="IS_SAME_SERVER" value="true"/>
<mapEntry key="LINE_CURR" value="278"/>
<mapEntry key="NAME" value="ZSWL_CL_EWM_AUTOSTORE_DPC_EXT"/>
<mapEntry key="PRG_CURR" value="ZSWL_CL_EWM_AUTOSTORE_DPC_EXT=CP"/>
<mapEntry key="RFCDEST" value="vi20pas_I20_01"/>
<mapEntry key="SYSTEM_ID" value="I20"/>
<mapEntry key="SYSTEM_NO" value="01"/>
<mapEntry key="URI" value="/sap/bc/adt/oo/classes/zswl_cl_ewm_autostore_dpc_ext/source/main#start=278"/>
</mapAttribute>
<mapAttribute key="SETTINGS">
<mapEntry key="alwaysCreateExceptionObject" value="false"/>
<mapEntry key="debugAutomaticSharedObjectAreaConstructors" value="false"/>
<mapEntry key="debugSystemPrograms" value="false"/>
<mapEntry key="optimizeColumnWidthWithoutHeader" value="false"/>
<mapEntry key="optimizeStepPerformance" value="true"/>
<mapEntry key="showDataAging" value="false"/>
<mapEntry key="suspendBackgroundRfcRequests" value="false"/>
<mapEntry key="useMonospacedFont" value="false"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
<stringAttribute key="projectName" value="I20_001_de6u8353_en"/>
</launchConfiguration>
