<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.sap.adt.sapgui.ui.launchConfigurationType">
<stringAttribute key="OBJECT_NAME" value="Y20_CL_PICK_PREP_HUTRL_DPC_EXT"/>
<stringAttribute key="OBJECT_TYPE" value="CLAS/OC"/>
<stringAttribute key="OBJECT_URI" value="/sap/bc/adt/oo/classes/y20_cl_pick_prep_hutrl_dpc_ext/source/main"/>
<stringAttribute key="PROJECT_NAME" value="I20_001_de6u8353_en"/>
<stringAttribute key="WB_ACTION" value="EXECUTE"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/I20_001_de6u8353_en"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
