.sapUiBlockLayoutSizeM:not(.sapUiBlockLayoutKeepFontSize) .smallPaddingCustom .sapUiBlockCellContent, .sapUiBlockLayoutSizeL:not(.sapUiBlockLayoutKeepFontSize) .smallPaddingCustom .sapUiBlockCellContent, .sapUiBlockLayoutSizeXL:not(.sapUiBlockLayoutKeepFontSize) .smallPaddingCustom .sapUiBlockCellContent, .sapUiBlockLayoutSizeS:not(.sapUiBlockLayoutKeepFontSize) .smallPaddingCustom .sapUiBlockCellContent {
	padding: 7.5px
}

.sapUiBlockLayoutCell {
	margin-top: -5px !important;
}

.tablet-transform {
	width: 143%;
	height: 143%;
	transform: scale(0.7);
	transform-origin: 0 0;
}

.customHeightRowHigher>div {
	height: 75%;
}

.customHeightRowLower>div {
	height: 20%;
}

/******************************************/

/* Enhancements							  */

/* Border and Inner Cell style            */

/******************************************/

.customInnerTopBorder {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.customInnerCellHeaderBox {
	background-color: #D0D6DC;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.customInnerCellHeaderText {
	font-weight: bold;
	font-size: 24px;
}

.customInnerCellSeparator {
	/* background-color: #717D86; */
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.customTopBorder .sapUiBlockCellContent {
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 0px 1px white;
}

.customButtomBorder .sapUiBlockCellContent {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 0px 1px white;
}

/******************************************/

/* App title style                        */

/******************************************/

.customCellHeader>div>h2 {
	font-weight: bold;
	background-color: #D0D6DC;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sapMBarMiddle {
	text-align: left;
}

.sapMBarRight {
	padding-right: 1rem;
}

.headerUser {
	padding-right: 0.5rem;
}

/******************************************/

/* BlockLayout Background      			  */

/******************************************/

.customContentLayout {
	background-color: #717D86;
}

.customHeader .sapMIBar-CTX .sapMTitle {
	font-size: 1.8rem;
	font-weight: bold;
	padding-left: 0ex;
}

/* StandardInputField Style  when focused*/

.sapMInputBaseInner:focus {
	background-color: #C8E6FA;
	/*#99CCFF -> soft blue; */
}

.customInput .sapMInputBaseInner {
	font-size: 2em !important;
}

/******************************************/

/* Button style for Tablet/Phone size     */

/******************************************/

.sapUiSizeCozy .customButton .sapMBtnContent {
	font-size: 1.3em;
}

.sapUiSizeCozy .customButton .sapMBtnInner {
	background-color: #0e9ce8;
	color: white;
}

.sapUiSizeCozy .customFooterButton .sapMBtnContent {
	font-size: 1.3em;
}

/******************************************/

/* Button style for Desktop size          */

/******************************************/

.sapUiSizeCompact .customButton .sapMBtnContent {
	height: 50px !important;
	font-size: 1.7em;
	padding-top: 0.5em;
}

.sapUiSizeCompact .customButton .sapMBtnInner {
	height: 50px !important;
	background-color: #0e9ce8;
	color: white;
}

.sapUiSizeCompact .customFooterButton .sapMBtnContent {
	font-size: 1.7em;
}

table div>span.customTableHeaderSmall {
	font-size: 1.2em !important;
}

table div>span.customTableRowSmall {
	font-size: 1em !important;
}

/******************************************/

/* Text styles                            */

/******************************************/

.customTextSmall {
	font-size: 1.5em;
	padding-bottom: 10px;
}

.customTextMedium {
	font-size: 1.7em;
	padding-bottom: 10px;
}

.customTextMediumBigger {
	font-size: 1.8em;
	padding-bottom: 10px;
}

.customTextLarge {
	font-size: 1.9em;
	font-style: bold;
	padding-bottom: 6px;
}

/******************************************/

/* Blue arrow button style                */

/******************************************/

.actionButton .sapMBtnInner {
	font-size: 2.5rem;
	border-color: transparent;
	background-color: transparent;
	color: white;
	vertical-align: middle;
	text-align: center;
	height: 200px;
	padding-top: 75px;
}

.actionButton.sapMBtn:hover>.sapMBtnHoverable {
	background-color: transparent;
	color: white;
	font-size: 2.5rem;
	border-color: transparent;
}

.actionButton.sapMBtn:hover>.sapMBtnHoverable .sapMBtnContent {
	background-color: transparent;
	color: white;
	font-size: 2.5rem;
	border-color: transparent;
}

/******************************************/

/* Messages								  */

/******************************************/

/* Style definition for the message text */

.sapMMsgStripMessage .sapMText {
	/* font-size: 1.5rem; */
}

/******************************************/

/* Arrow action button  				  */

/******************************************/

/* The blue arrow action button */

.arrowButton {
	background: url('../img/arrow_right.png') no-repeat;
	background-color: #717D86;
	background-size: 100% 100%;
}

/******************************************/

/* Stack image  				  */

/******************************************/

/* Represents an stack */

.stack {
	/*background-image: url('../img/Stack.png');
background-size: 100% 100%;*/
	background: url(../img/Stack4.png) no-repeat;
	background-size: 100% 100%;
	/* background-color: blue; */
	margin-right: 20px;
}

.item1 {
	/*background-image: url('../img/Stack.png');
background-size: 100% 100%;*/
	background: url(../img/Item_relevant.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 20px;
	margin-left: 20px;
	/* background-color: blue; */
}

.item2 {
	/*background-image: url('../img/Stack.png');
background-size: 100% 100%;*/
	background: url(../img/Item_notrelevant.png) no-repeat;
	background-size: 100% 100%;
	/* background-color: blue; */
	padding: 0px;
}