/* Enter your custom styles here */

.sapUiBlockLayoutSizeM:not(.sapUiBlockLayoutKeepFontSize) .smallPaddingCustom .sapUiBlockCellContent,
.sapUiBlockLayoutSizeL:not(.sapUiBlockLayoutKeepFontSize) .smallPaddingCustom .sapUiBlockCellContent,
.sapUiBlockLayoutSizeXL:not(.sapUiBlockLayoutKeepFontSize) .smallPaddingCustom .sapUiBlockCellContent,
.sapUiBlockLayoutSizeS:not(.sapUiBlockLayoutKeepFontSize) .smallPaddingCustom .sapUiBlockCellContent {
    padding: 7.5px
}

.customTopBorder .sapUiBlockCellContent {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.customButtomBorder .sapUiBlockCellContent {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.customTitleColor > div > h2 {
    font-weight: bold;
    color: #008CBA;
}

.customBiggerFontSize {
    font-size: 24px;
}